USE [master]
GO
/****** Object:  Database [CoffeeStore2DB]    Script Date: 9/16/2025 12:40:13 PM ******/
CREATE DATABASE [CoffeeStore2DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoffeeStore2DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ONESELF\MSSQL\DATA\CoffeeStore2DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoffeeStore2DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ONESELF\MSSQL\DATA\CoffeeStore2DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoffeeStore2DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoffeeStore2DB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 9/16/2025 12:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 9/16/2025 12:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/16/2025 12:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CategoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductInMenu]    Script Date: 9/16/2025 12:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInMenu](
	[ProductInMenuId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductInMenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name], [Description]) VALUES (1, N'Coffee', N'Các loại cà phê')
INSERT [dbo].[Category] ([CategoryId], [Name], [Description]) VALUES (2, N'Tea', N'Các loại trà')
INSERT [dbo].[Category] ([CategoryId], [Name], [Description]) VALUES (3, N'Pastry', N'Bánh ngọt và đồ ăn kèm')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([MenuId], [Name], [FromDate], [ToDate]) VALUES (1, N'Menu Mùa Hè', CAST(N'2025-06-01' AS Date), CAST(N'2025-08-31' AS Date))
INSERT [dbo].[Menu] ([MenuId], [Name], [FromDate], [ToDate]) VALUES (2, N'Menu Mùa Đông', CAST(N'2025-12-01' AS Date), CAST(N'2026-02-28' AS Date))
INSERT [dbo].[Menu] ([MenuId], [Name], [FromDate], [ToDate]) VALUES (5, N'Menu Updated', CAST(N'2025-09-20' AS Date), CAST(N'2025-10-20' AS Date))
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [Name], [Price], [Description], [CategoryId]) VALUES (1, N'Cà phê đen', CAST(30000.00 AS Decimal(10, 2)), N'Cà phê rang xay pha phin truyền thống', 1)
INSERT [dbo].[Product] ([ProductId], [Name], [Price], [Description], [CategoryId]) VALUES (2, N'Cà phê sữa', CAST(35000.00 AS Decimal(10, 2)), N'Cà phê đen pha cùng sữa đặc', 1)
INSERT [dbo].[Product] ([ProductId], [Name], [Price], [Description], [CategoryId]) VALUES (3, N'Trà xanh', CAST(25000.00 AS Decimal(10, 2)), N'Trà xanh tươi mát', 2)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductInMenu] ON 

INSERT [dbo].[ProductInMenu] ([ProductInMenuId], [ProductId], [MenuId], [Quantity]) VALUES (1, 1, 1, 100)
INSERT [dbo].[ProductInMenu] ([ProductInMenuId], [ProductId], [MenuId], [Quantity]) VALUES (2, 2, 1, 80)
INSERT [dbo].[ProductInMenu] ([ProductInMenuId], [ProductId], [MenuId], [Quantity]) VALUES (3, 3, 1, 120)
SET IDENTITY_INSERT [dbo].[ProductInMenu] OFF
GO
/****** Object:  Index [UQ_Product_Menu]    Script Date: 9/16/2025 12:40:13 PM ******/
ALTER TABLE [dbo].[ProductInMenu] ADD  CONSTRAINT [UQ_Product_Menu] UNIQUE NONCLUSTERED 
(
	[ProductId] ASC,
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[ProductInMenu]  WITH CHECK ADD  CONSTRAINT [FK_ProductInMenu_Menu] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([MenuId])
GO
ALTER TABLE [dbo].[ProductInMenu] CHECK CONSTRAINT [FK_ProductInMenu_Menu]
GO
ALTER TABLE [dbo].[ProductInMenu]  WITH CHECK ADD  CONSTRAINT [FK_ProductInMenu_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[ProductInMenu] CHECK CONSTRAINT [FK_ProductInMenu_Product]
GO
ALTER TABLE [dbo].[ProductInMenu]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
USE [master]
GO
